body {
  background-color: #F3E9D0;
  font-family: 'Open Sans', sans-serif;
  color: #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
}

h1 {
  color: #171738;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1em;
  padding: 0px;
}

h2 {
  color: #171738;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 1em;
  padding: 0px;
}

h3 {
  color: #171738;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 1em;
  padding: 0px;
}

a {
  text-decoration: underline;
  color: #171738;
}

a:hover {
  color: red;
}

  .container {
  width: 950px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card {
  background: white;
  border: solid white;
  border-radius: 7px;
  box-shadow: 1px 1px;
  padding: 40px;
  margin: 15px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}
.text-center {
  text-align: center;
}

.text_column_right {
  text-align: start;
  padding-left: 20px;
  vertical-align: top;
}

#moviecard-header {
  font-size: 25px;
  padding-bottom: 25px;
}

.fa {
  display: inline-block;
  text-rendering: auto;
}

#sidebar {
  background-color: #384047;
  position: fixed;
  width: 120px;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}

#page-content {
  margin-left: 300px;
}

#sidebar ul {
    list-style: none;
    padding-left: 0px;
}

#sidebar li {
    margin-top: 50px;
    margin-bottom: 50px;
}

#sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: #788188;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}
